@font-face {
	font-family: 'Vox_Wide_SemiBold';
	src: url('fonts/VoxWideSemiBold.eot');
	src: local('☺'), url('fonts/VoxWideSemiBold.woff') format('woff'), url('fonts/VoxWideSemiBold.ttf') format('truetype'), url('fonts/VoxWideSemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto_Mono_Bold';
	src: url('fonts/RobotoMono-Bold.eot');
	src: local('☺'), url('fonts/RobotoMono-Bold.woff') format('woff'), url('fonts/RobotoMono-Bold.ttf') format('truetype'), url('fonts/RobotoMono-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto_Mono_Regular';
	src: url('fonts/RobotoMono-Regular.eot');
	src: local('☺'), url('fonts/RobotoMono-Regular.woff') format('woff'), url('fonts/RobotoMono-Regular.ttf') format('truetype'), url('fonts/RobotoMono-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vox_Wide_Bold';
	src: url('fonts/VoxWideBold.eot');
	src: local('☺'), url('fonts/VoxWideBold.woff') format('woff'), url('fonts/VoxWideBold.ttf') format('truetype'), url('fonts/VoxWideBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}